.popup {
    display: none;
    position: absolute;
    top: 45px;
    left: 50%;
    width: 160px;
    padding: 10px;
    border-radius: 14px;
    background: #FFF;
    border: 1px solid rgba(0, 56, 93, 0.1);
    box-shadow: 0 4px 18px rgba(0, 56, 93, 0.1);
    transition: all .2s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99;
}
.popupActive {
    display: flex;
}
.item {
    display: flex;
    align-items: center;
    padding: 10px;
    width: calc(100% - 20px);
    cursor: pointer;
    color: #00385D;
    border-radius: 12px;
    svg {
        margin-right: 10px;
    }
    &:hover {
        background: rgba(0, 56, 93, 0.03);
        transition: all .5s ease;
    }
}