@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.tox-tinymce {
    border-radius: 10px !important;
    border: 1px solid rgba(0, 56, 93, 0.1) !important;
}
.tox-icon  svg {
    fill: #707070 !important;
}